<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirma Eliminacion</title>
</head>
<body>
    <h2>¿Estas seguro que quieres eliminar este album es un temazo?</h2>

    <form method="POST" action="/eliminar/{{ album[0] }}">
        <label>Album:</label><br>
        <input type="text" value="{{ album[1] }}" disabled><br><br>

        <label>Artista:</label><br>
        <input type="text" value="{{ album[2] }}" disabled><br><br>

        <label>Año:</label><br>
        <input type="text" value="{{ album[3] }}" disabled><br><br>

        <input type="submit" value="Confirmar Eliminacion">
        <a href="/">Cancelar</a>
    </form>
</body>
</html>
