<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Consulta </title>
</head>
<body>
    <h2>Vista de consulta</h2>

    <table>

  <thead>
 <tr>
  <td>Id:</td>
  <td>Album</td>
  <td>Artista</td>
  <td>Anio</td>
 </tr>
  </thead>

 <tbody>
<tr>
    <td>{{ album.0}}</td>
    <td>{{ album.1}}</td>
    <td>{{ album.2}}</td>
    <td>{{ album.3}}</td>
    <td><a href="/actualizar/{{ album[0] }}">Actualizar</a></td>
    
     <td><a href="#">eliminar</a></td>
</tr>
  </tbody>
    </table>

</body>
</html>