<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Formulario </title>
</head>

<body>
    <h2> Vista de Formulario </h2>
    <a href="/consulta"> Abrir vista Consulta </a>
    <br>
    <br>
    <br>
    {% with mensajes= get_flashed_messages()%}
        {% if mensajes%}
         {% for msj in mensajes%}
         <h4>{{ msj }}</h4>
         {% endfor%}
        {% endif%}
    {% endwith%}

    <form action="/guardarAlbum" method="post">

        <input type="text" name="txtTitulo" placeholder="Titulo" value="{{ request.form.txtTitulo}}">

        {% if errores and errores.txtTitulo%}
         <p style="color: red">{{ errores.txtTitulo }}</p>
        {% endif%}

        <input type="text" name="txtArtista" placeholder="Artista" value="{{ request.form.txtArtista}}">

        {% if errores and errores.txtArtista%}
         <p style="color: red">{{ errores.txtArtista }}</p>
        {% endif%}

        <input type="number" name="txtAnio" placeholder="Año de publicacion" value="{{ request.form.txtAnio}}">

        {% if errores and errores.txtAnio%}
         <p style="color: red">{{ errores.txtAnio }}</p>
        {% endif%}

        <button type="submit"> Guardar Album</button>

    </form>

<table>
    
  <thead>
 <tr>
  <td>Id:</td>
  <td>Album</td>
 </tr>
  </thead>

 <tbody>
{%for alb in albums%}
<tr>
<td> {{alb.0}}</td>
<td><a href="/detalle/{{alb.0}}"> {{alb.1}} </a></td>
</tr>
{%endfor%}
  </tbody>
    </table>
</body>
</html>