<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Consulta </title>
</head>
<body>
    <h2>Vista de consulta</h2>
    <table>

  <thead>
 <tr>
  <td>Id:</td>
  <td>titulo</td>
  <td>director</td>
  <td>año</td>
  <td>genero</td>
 </tr>
  </thead>

 <tbody>
<tr>
    <td>1</td>
    <td>El fauno</td>
    <td>Guillermo del toro</td>
    <td>2000</td>
    <td>terror</td>
    
     <td></td>
</tr>
  </tbody>
    </table>

</body>
</html>